extends layout

block content
  h1= title
  p Welcome to #{title}
  p This is the first assignment for CS496 - Mobile and Cloud Software Development
  p It is currently #{date}
  h3 using:
    li nodejs + express
    li jade templating
    li heroku for app deployment